<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">DataTable</div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col-md-4 offset-md-8">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control" [(ngModel)]="filterQuery" placeholder="Search by name" />
          </div>
        </div>
      </div>
      <table class="table table-striped" [mfData]="orderData | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th style="width: 20%">
              <mfDefaultSorter by="patient.firstName">First Name</mfDefaultSorter>
            </th>
            <th style="width: 30%">
              <mfDefaultSorter by="patient.lastName">Last Name</mfDefaultSorter>
            </th>
            <th style="width:10%">
              <mfDefaultSorter by="patient.type">Type of Order</mfDefaultSorter>
            </th>
            <th style="width:10%">
              <mfDefaultSorter by="dateOfVisit">Date of Visit</mfDefaultSorter>
            </th>
            <th style="width: 10%">
              <mfDefaultSorter by="patient.dateOfBirth">Date Of Birth</mfDefaultSorter>
            </th>
            <th style="width: 20%">
              <mfDefaultSorter by="ordersStatus">Orders Status</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of mf.data">
            <ng-container *ngIf="item.patient">
              <td>{{item.patient.firstName}}</td>
              <td>{{item.patient.lastName}}</td>
              <td>
                <ng-container *ngIf="item.type">
                  {{item.type}} <br/>
                </ng-container>
                <ng-container *ngIf="item.testID">
                    {{item.testID}}
                </ng-container>
            </td>
            <td>{{item.dateOfVisit}}</td>
              <td class="text-right">{{item.patient.dateOfBirth}}</td>
              <td>
                <span *ngIf="item.status == 'new'" class="badge badge-danger">{{item.status}}</span>
                <span *ngIf="item.status == 'In Progress'" class="badge badge-warning">{{item.status}}</span>
                <span *ngIf="item.status == 'Completed'" class="badge badge-success">{{item.status}}</span>
                <!--
                <span *ngIf="item.ordersStatus == 1" class="badge badge-success">Completed</span>
                <span *ngIf="item.ordersStatus == 2" class="badge badge-danger">Not started</span>
                <span *ngIf="item.ordersStatus == 3" class="badge badge-warning">In progress</span>
                -->
              </td>
            </ng-container>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>