<div class="animated fadeIn">
    <div class="view-specific-order" *ngIf="data">
        <h3>Orders for {{data.message.name}}</h3>
        <div>
            <div class="ui three top attached steps">
                <!-- <div class="finished step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">Order Submitted</div>
                        <div class="description">Order request was submitted</div>
                    </div>
                </div> -->
                <div class="active inprogress step">
                    <i class="payment icon"></i>
                    <div class="content">
                        <div class="title">Order In Progress</div>
                        <div class="description">Order is currently being worked on</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="check circle icon"></i>
                    <div class="content">
                        <div class="title">Completed</div>
                        <div class="description">Order has been completed</div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <div *ngFor="let status of data.message.statuses" class="ui icon message">
                    <i *ngIf="status['timeCompleted']" class="check icon"></i>
                    <div class="content">
                        <div class="header">
                        {{status.name}}
                        </div>
                        <p *ngIf="status['timeCompleted'] != null; else timeNotCompleted">By: {{status.user}} @ {{status.timeCompleted}}</p>
                        <ng-template #timeNotCompleted>
                            <p><i class="notched circle loading icon"></i>Step not completed</p>
                        </ng-template>
                    </div>
                </div>
                <!-- <div class="ui steps">
                    <div class="step">Some button</div>
                </div> -->
            </div>
        </div>
        <!-- <div class="whole">
            <div class="card card-accent-primary" *ngFor="let visit of data.visits; let currentIndex = index;">
                <input id="tab-{{currentIndex}}" type="checkbox" name="tabs">
                <label for="tab-{{currentIndex}}">{{visit.date}} <small>{{visit.doctor}}</small></label>
                <div class="card-header tab-content">
                    <p *ngFor="let order of visit.orders">
                        {{mappingsForOrders[order.type]}} 
                        <span  *ngFor="let status of order.status" class="badge badge-success">{{mappingsForStatuses[status]}}</span>
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</div>